// Define variables for your color scheme

// For example:
$red: #ac0003;
$blue: #09377a;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00dc1d;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Additional colors:
$purple: rgb(93, 10, 152);
$pink: rgb(214, 0, 104);
