<div class="card-container">
  <% @pokemons.each do |pokemon| %>
    <div class="d-flex ">
      <%= link_to pokemon_path(pokemon), class: "decorator-none" do %>
      <%= render partial: 'shared/card', locals: { pokemon: pokemon } %>
  <% end %>
        <% if controller_name == 'pages' && action_name == 'my_pokemon' %>
          <div class="p-4">
            <h4> Rental </h4>
            <%= render partial: 'rentals/index', locals: { pokemon: pokemon } %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
