<div class="container">
  <%# /pokemons/:id/rentals %>
  <div class="group-list">
    <% @rentals.each do |rental| %>
      <div class="d-flex justify-content-between">
        <div class="group-list-item">
          <%= rental.status %>
          <%= rental.start_date %>
          <%= rental.end_date %>
        </div>
      </div>
    <% end %>
  </div>
</div>
