<div class="container">
  <div class="list-group">
    <% @rentals.each do |rental| %>
      <div class="list-group-item <%= rental.status == "pending" ? "list-group-item-info" : "" %>">
        <%= rental.status %><br/>
        From : <%= rental.start_date.strftime("%A, %B %e, %Y") %><br/>
        To : <%= rental.end_date.strftime("%A, %B %e, %Y") %>
      </div>
    <% end %>
  </div>
</div>
