<div class="billboard container-fluid position-relative">

    <div>
      <%= image_tag("https://cdn.toucharcade.com/wp-content/uploads/2016/07/landscape-1456483171-pokemon2.jpg") %>
    </div>
    <div class="position-absolute top-100 start-50 translate-middle">
      <img class="title" src="pokemarket.png" alt="pokemarket graphic">
   </div>
</div>

<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="find a pokemon" aria-label="pokemon search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
</div>

<div class="card-container">
  <%= render partial: 'card_grid', locals: { pokemons: @pokemons } %>
</div>
