<div class="billboard container-fluid position-relative">
    <div>
      <%= image_tag("https://cdn.toucharcade.com/wp-content/uploads/2016/07/landscape-1456483171-pokemon2.jpg") %>
    </div>
    <div class="position-absolute top-100 start-50 translate-middle">
      <img class="title" src="pokemarket.png" alt="pokemarket graphic">
   </div>
</div>

<div class="card-container">
    <div class="card-white">

      <img src="pikachu.png" alt="pikachu image" height="66%">

      <div class="card-white-content">
        <h3>pokemon name</h3>
        <p>description of our pokemon</p>
        <p>rental price</p>
        <img class="avatar" src="pokemon-trainer.webp" alt="avatar">
      </div>

    </div>
    <div class="card-white">
      <p>card3
      </p>
    </div>
    <div class="card-white">
      <p>card2
      </p>
    </div>
    <div class="card-white">
      <p>card1
      </p>
    </div>
  </div>
