.btn-hero {
  border-radius: 8px;
  letter-spacing: 2px;
  top: -6px;
  border: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #dedcdc;
  &.hero {
    padding: 20px;
    box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #bb39d7;
  }
  &.poison, &.ghost, &.psychic {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(200, 0, 183)inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(200, 0, 183), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(206, 85, 195);
  }
  &.warning, &.fairy, &.normal {
    padding: 12px;
    box-shadow: 0 0 0 1px #da0d66 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #da0d66, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #ff569f;
  }
  &.fire, &.fighting {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(143, 0, 0) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(143, 0, 0), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color:  rgb(205, 31, 31);
  }

  &.success, &.electric,  &.ground  {
    padding: 12px;
    // color: lightgray;
    box-shadow: 0 0 0 1px rgb(255, 157, 0) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(255, 157, 0) , 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(249, 178, 47);
  }

  &.primary, &.rock, &.water {
    padding: 12px;
    box-shadow: 0 0 0 1px #136ab6 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #136ab6 , 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #3287d2;
  }
  &.grass, &.bug {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(54, 149, 14) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(54, 149, 14) , 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(44, 187, 1);
  }
}


.btn-hero:active {
  top: 2px;
  &.hero {
    padding: 20px;
    box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #bb39d7;
  }
  &.poison, &.ghost, &.psychic {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(200, 0, 183) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(206, 85, 195);
  }
  &.warning, &.fairy, &.normal {
    padding: 12px;
    box-shadow: 0 0 0 1px #da0d66 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #cd4a83;
  }
  &.fire, &.fighting {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(143, 0, 0) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(205, 31, 31);
  }

  &.success, &.electric, &.ground {
    padding: 12px;
    box-shadow: 0 0 0 1px #e2d40a inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #fafd2e;
  }
  &.primary, &.rock, &.water {
    padding: 12px;
    box-shadow: 0 0 0 1px #136ab6 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #3287d2;
  }
  &.grass, &.bug  {
    padding: 12px;
    box-shadow: 0 0 0 1px rgb(54, 149, 14) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(44, 187, 1);
  }

}


.btn-hero:hover {
  opacity: 100%;
  transition: all 0.5s;
  &.hero {
    padding: 20px;
    background:#c158d8;
  }
  &.poison, &.ghost, &.psychic {
    padding: 12px;
    background: rgb(206, 85, 195);
  }
  &.warning, &.fairy, &.normal {
    padding: 12px;
    background: #cd4a83;
  }
  &.fire, &.fighting {
    padding: 12px;
    background: rgb(205, 31, 31);
  }
  &.success, &.electric, &.ground {
    padding: 12px;
    background: #fafd2e;
  }
  &.primary, &.rock, &.water {
    padding: 12px;
    background: #3287d2;
  }
  &.grass, &.bug  {
    padding: 12px;
    background: rgb(44, 187, 1);
  }
}

.button-center {
  display: flex;
  justify-content: center;
}
