.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px 26px 16px 26px
}

.card-gradient-border {
  width: 240px;
  height: 290px;
  box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.399);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 12px;
  border-style: outset;
  border-width: thick;
  &.fire {
    border-color: firebrick;
    background-image: linear-gradient(to bottom right, rgba(250, 3, 3, 0.895), rgba(255, 9, 9, 0.773));
  }

  &.water {
    border-color: darkblue;
    background-image: linear-gradient(to bottom right, rgba(7, 3, 78, 0.895), rgba(80, 182, 245, 0.773));
  }

  &.poison {
    border-color: purple ;
    background-image: linear-gradient(to bottom right, rgba(143, 67, 142, 0.895), rgba(206, 90, 197, 0.773));
  }

  &.grass {
    border-color: green ;
    background-image: linear-gradient(to bottom right, rgba(38, 130, 50, 0.895),rgba(35, 204, 30, 0.773));
  }

  &.bug {
    border-color: rgb(77, 77, 77) ;
    background-image: linear-gradient(to bottom right, rgba(150, 150, 150, 0.895),rgba(230, 230, 230, 0.773));
  }

  &.normal {
    border-color: white ;
    background-image: linear-gradient(to bottom right, rgba(230, 230, 230, 0.895), rgba(246, 246, 246, 0.773));
  }

  &.ground {
    border-color: brown ;
    background-image: linear-gradient(to bottom right, rgba(184, 88, 20, 0.895), rgba(203, 133, 20, 0.773));
  }

  &.electric {
    border-color: goldenrod;
    background-image: linear-gradient(to bottom right, rgba(252, 213, 39, 0.895),rgb(255, 223, 78));
  }
}



.card-gradient-border .pokemon-img {
  overflow: hidden;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: white;
}

.card-gradient-border h3, p {
  margin: 0px !important;
}

.card-gradient-border-content {
  display: flex;
  position: relative;
}

.card-gradient-border-avatar {
  position: absolute;
  top: 20%;
  right: 0;
}

.card-gradient-border h3 {
  font-weight: bold;
}
