.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px 26px 16px 26px
}

.card-gradient-border {
  width: 240px;
  height: 290px;
  box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.399);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 12px;
  border-style: outset;
  border-width: thick;
  opacity: 0.9;
  &.fire {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgb(176, 0, 0), rgba(255, 70, 70, 0.868));
  }
  &.psychic {
    border-color: silver;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  }
  &.water {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgba(7, 3, 78, 0.715), rgba(80, 182, 245, 0.773));
  }
  &.fairy {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgba(151, 18, 120, 0.878), rgba(253, 178, 223, 0.878));
  }
  &.poison {
    border-color: silver ;
    background-image: linear-gradient(to bottom left, rgba(120, 0, 118, 0.924), rgba(200, 0, 183, 0.87));
  }
  &.ghost {
    border-color: silver ;
    background-image: linear-gradient(to bottom left, rgba(95, 40, 141, 0.778), rgba(175, 89, 225, 0.835));
  }
  &.bug {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgba(128, 154, 0, 0.895),rgba(208, 255, 0, 0.842));
  }
  &.grass {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgba(25, 77, 3, 0.895), rgba(54, 211, 6, 0.773));
  }
  &.normal {
    border-color: silver;
    background-image: linear-gradient(to bottom left, rgba(0, 149, 154, 0.878), rgba(0, 251, 235, 0.848));
  }
  &.rock {
    border-color: silver ;
    background-image: linear-gradient(to bottom right, rgba(138, 137, 137, 0.892), rgba(246, 246, 246, 0.854));
  }
  &.ground {
    border-color: goldenrod ;
    background-image: linear-gradient(to bottom left, rgba(226, 94, 0, 0.895), rgba(255, 136, 0, 0.773));
  }
  &.electric {
    border-color: goldenrod;
    background-image: linear-gradient(to bottom left, rgba(255, 162, 0, 0.8),rgb(237, 237, 83));
  }
}



.card-gradient-border .pokemon-img {
  overflow: hidden;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: white;
}

.card-gradient-border h3, p {
  margin: 0px !important;
  text-shadow: 1px;
}

.card-gradient-border-content {
  display: flex;
  position: relative;
}

.card-gradient-border-avatar {
  position: absolute;
  top: 20%;
  right: 0;
}

.card-gradient-border h3 {
  font-weight: bold;
}
