<div class="row justify-content-center">
    <div class="col-sm-11">
      <div id="pokemons">
        <% if @pokemons.any? %>
           <%= render partial: 'shared/card_grid', locals: { pokemons: @pokemons } %>
        <% else %>
          <em>Sorry, no pokemon found.</em>
        <% end %>
      </div>
    </div>
</div>
