<%#= requires cloudinary gem for an image to be attached to the  user %>
<div class="text-center m-4">
  <h1><strong>PokeDeck</strong></h1>
    <%= render partial: 'search_bar', locals: { pokemons: @pokemons } %>
</div>
<div class="row">
  <div class="col-6">
    <%= render partial: 'search_index', locals: { pokemons: @pokemons } %>
  </div>
  <div class="col-6">
    <div style="width: 100%; height: 600px; margin-top: 28px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
