<%#= requires cloudinary gem for an image to be attached to the  user %>
<div class="text-center m-4">
  <h1><strong>PokeDeck</strong></h1>
</div>

<div class="card-container">
  <%= render partial: 'search_index', locals: { pokemons: @pokemons } %>
</div>
