<div class="container">
  <div class="d-flex justify-content-center ">
    <div class="card-show w-50">
      <div class="card-product-infos d-flex justify-content-center">
        <%= render partial: 'pages/card', locals: { pokemon: @pokemon } %>
      </div>
      <div class="p-4">
        <h2> Rentals </h2>
        <%= render partial: 'rentals/index', locals: { pokemon: @pokemon } %>
      </div>
      <div data-controller="toggle" class="">
        <div class="d-flex justify-content-center mb-5">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary">Rent this <%= @pokemon.name %> </button>
        </div>
        <div data-toggle-target="togglableElement" class="d-none">
          <div class="p-4 border rounded-4 my-4">
            <h2> New Rental </h2>
            <%= render partial: 'rentals/new', locals: { pokemon: @pokemon } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
